[submodule "RPi3"]
	path = RPi3
	url = https://github.com/InMechaSol/RPi3_ccOS_Tests.git
[submodule "ccOS"]
	path = ccOS
	url = https://github.com/InMechaSol/ccOS.git
[submodule "WIN32"]
	path = WIN32
	url = https://github.com/InMechaSol/WIN32_ccOS_Tests.git
[submodule "Ubuntu"]
	path = Ubuntu
	url = https://github.com/InMechaSol/Ubuntu_ccOS_Tests.git
[submodule "TS4900"]
	path = TS4900
	url = https://github.com/InMechaSol/TS4900_ccOS_Tests.git
