/WIN32_Console/Debug_SysTick
/WIN32_Console/Debug_ccNOosTests
/WIN32_Console/ccNOos_SysTick
/WIN32_Console/ccNOos_Tests
/build-QTCreator_C_SysTick-Desktop_Qt_6_2_0_MinGW_64_bit-Debug
/build-QTCreator_C_ccNOos_Tests-Desktop_Qt_6_2_0_MinGW_64_bit-Debug
/WIN32_Console/ccNOos_SatComACS
/build-QTCreator_C_SatComACS-Desktop_Qt_6_2_0_MinGW_64_bit-Debug
/QTCreator_C/build-QTCreator_Cpp_ccACU-Desktop_Qt_6_2_0_MinGW_64_bit-Debug
/WIN32_Console/ccOS_ccACU
/WIN32_Console/Debug
